mixin runningLine()
  div.rinningLine
    div.__main
      div.__inner
        div.__item
          | Дело помощи утопающим — дело рук самих утопающих!
        div.__item
          div.dot
        div.__item
          | Шахматы двигают вперед не только культуру, но и экономику!
        div.__item
          div.dot
        div.__item
          | Лед тронулся, господа присяжные заседатели!
      div.__inner
        div.__item
          | Дело помощи утопающим — дело рук самих утопающих!
        div.__item
          div.dot
        div.__item
          | Шахматы двигают вперед не только культуру, но и экономику!
        div.__item
          div.dot
        div.__item
          | Лед тронулся, господа присяжные заседатели!