@use "../../scss/variables.scss" as *;

.topInfo {
  margin: 0 0 64px;
  @media (max-width: $media-mobile) {
    margin-bottom: 54px;
  }
  &__empty {
    padding-top: 63.45%;
  }
  &__picture {
    position: absolute;
    top: 50%;
    right: 0;
    width: calc(100% * 4 / 12);
    padding: 0 10px;
    transform: translateY(-50%);
    @media (max-width: $media-mobile) {
      position: relative;
      top: auto;
      right: auto;
      width: auto;
      padding: 0;
      margin: 24px auto 24.4px;
      max-width: 100%;
      transform: none;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 -10px;
  }
  &__item {
    padding: 0 10px;
    &.left {
      width: calc(100% * 8 / 12);
      @media (max-width: $media-mobile) {
        width: 100%;
      }
    }
    &.right {
      width: calc(100% * 4 / 12);
      @media (max-width: $media-mobile) {
        display: none;
      }
    }
  }
  &__text {
    padding: 0 44px 0 0;
    @media (max-width: $media-mobile) {
      padding-right: 0;
    }
  }
  &__title {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 135%;
    text-transform: uppercase;
    @media (max-width: $media-mobile) {
      display: block;
      font-weight: 400;
      font-size: 28px;
      line-height: 38px;
    }
    @media (max-width: $media-mobile-xs) {
      font-size: 24px;
      line-height: 1.11;
    }
  }
  .hl {
    color: $color-warning;
    font-weight: bold;
  }
}
.tournament {
  width: 100%;
  @media (max-width: $media-mobile) {
    max-width: 335px;
    margin: 0 auto;
  }
}
.bottomInfo {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    &.left {
      width: calc(100% * 5 / 12);
      @media (max-width: $media-mobile) {
        width: 100%;
        margin-bottom: 34px;
      }
    }
    &.right {
      width: calc(100% * 7 / 12);
      @media (max-width: $media-mobile) {
        width: 100%;
      }
    }
  }
  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__text {
    padding: 0;
    margin-bottom: 60px;
    @media (max-width: $media-mobile) {
      margin-bottom: 44px;
    }
  }
  &__title {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 135%;
    text-transform: uppercase;
    @media (max-width: $media-mobile) {
      display: block;
      font-weight: 400;
      font-size: 28px;
      line-height: 38px;
    }
    @media (max-width: $media-mobile-xs) {
      font-size: 24px;
      line-height: 1.11;
    }
  }
  .hl {
    color: $color-warning;
    font-weight: bold;
  }
  &__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: $color-link;
    @media (min-width: $media-mobile-min) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: $media-mobile) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  .cheessImage {
    padding-right: 24px;
    @media (max-width: $media-mobile) {
      padding-right: 0;
    }
  }
}

.chessTable {
  margin-bottom: 48px;
  @media (max-width: $media-mobile) {
    margin-bottom: 40px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $media-mobile) {
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 2px solid $color-border;
      &:nth-child(4) {
        display: block;
        .chessTable__item,
        .chessTable__title,
        .chessTable__value {
          display: inline;
        }
        .chessTable__title {
          margin-right: 9px;
        }
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
    &:first-child {
      .chessTable__item {
        &.left {
          padding-top: 0;
        }
        &.right {
          padding-top: 0;
        }
      }
    }
    &:last-child {
      .chessTable__item {
        border-bottom: 0;
        &.left {
          padding-bottom: 0;
          @media (max-width: $media-mobile) {
            padding-bottom: 12px;
          }
        }
        &.right {
          padding-bottom: 0;
        }
      }
    }
  }
  .line {
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $color-warning;
      position: absolute;
      top: 50%;
      left: 0;
      border-radius: 1px;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    opacity: 0.7;
  }
  &__value {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
  }
  &__item {
    flex-shrink: 0;
    border-bottom: 2px solid $color-border;
    &.left {
      padding: 15px 15px 15px 0;
      width: 43.46%;
      position: relative;
      @media (max-width: $media-mobile) {
        width: 100%;
        border-bottom: 0;
        padding: 0px 0 12px;
      }
      &::after {
        content: "";
        position: absolute;
        right: -1px;
        top: 0;
        width: 2px;
        height: calc(100% + 2px);
        background-color: $color-border;
        @media (max-width: $media-mobile) {
          display: none;
        }
      }
    }
    &.right {
      width: 56.54%;
      padding: 15px;
      @media (max-width: $media-mobile) {
        width: 100%;
        border-bottom: 0;
        padding: 0px;
      }
    }
  }
}
