@use "../../scss/variables.scss" as *;

.header {
  padding: 26px 0;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  height: $header-height;
  @media (max-width: $media-mobile) {
    padding: 18px 0;
    height: $header-mobile-height;
  }
}