include ./header/header
include ./logo/logo
include ./mainBanner/mainBanner
include ./picture/picture
include ./button/button
include ./runningLine/runningLine
include ./section-1/section-1
include ./chessPicture/chessPicture
include ./section-2/section-2
include ./section-3/section-3
include ./footer/footer