@use "../../scss/variables.scss" as *;

.aroundButton {
  width: 44px;
  height: 44px;
  display: block;
  border: 0;
  padding: 0;
  color: $color-light;
  background-color: $color-dark;
  border-radius: 100%;
  cursor: pointer;
  text-decoration: none;
  transition: .25s linear background, .25s linear color;
  &:hover {
    background-color: $color-extra;
  }
  &:disabled {
    background-color: $color-disabled;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  svg {
    width: 100%;
    height: 100%;
    display: block;
    stroke: $color-light;
    fill: transparent;
    transition: .25s linear stroke;
  }
}