@use "./variables.scss" as *;
@use "./default.scss";
@use "../components/style.scss";

.sectionContainer {
  &__title {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 65px;
    text-transform: uppercase;
    margin: 0 0 54px;
    max-width: 806px;
    @media (max-width: $media-mobile) {
      font-size: 36px;
      line-height: 40px;
      margin: 0 0 20px;
    }
    @media (max-width: $media-mobile-xs) {
      font-size: 28px;
      line-height: 1.11;
    }
    &.big-margin {
      margin-bottom: 60px;
      @media (max-width: $media-mobile) {
        margin-bottom: 40px;
      }
    }
    .innerText {
      position: relative;
      @media (max-width: $media-mobile) {
        display: block;
      }
      &__link {
        width: 280px;
        max-width: 100%;
        position: absolute;
        bottom: 9%;
        left: 107%;
        font-family: "Golos", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.2;
        color: $color-link;
        text-transform: none;
        @media (min-width: $media-mobile-min) {
          &:hover {
            text-decoration: underline;
          }
        }
        @media (max-width: $media-mobile) {
          width: 100%;
          position: static;
          display: block;
          margin-top: 12px;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
}
.sections {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    margin: 0 0 200px;
    @media (max-width: $media-mobile) {
      margin-bottom: 121px;
    }
    &.small {
      margin-bottom: 80px;
      @media (max-width: $media-mobile) {
        margin-bottom: 48px;
      }
    }
    &.middle {
      margin-bottom: 139px;
      @media (max-width: $media-mobile) {
        margin-bottom: 101px;
      }
    }
  }
}
.controls {
  display: flex;
  align-items: center;
}
.control-counter {
  min-width: 35px;
  margin: 0 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  @media (max-width: $media-mobile) {
    margin: 0 11px;
  }
}
.control-dots {
  margin: 0 13px;
  display: flex;
  align-items: center;
}
.slider-dot {
  margin: 0 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  cursor: pointer;
  background-color: #d9d9d9;
  transition: .25s linear background-color;
  &.sliderDots__active {
    background-color: $color-dark;
  }
}
.slider-separator {
  padding: 0 4px;
}
.slider-counter {
  width: 11px;
}
.slider-separator,
.slider-all-count {
  opacity: 0.6;
}