$color-dark: #313131;
$color-secondary: #1f1f1f;
$color-logo: #595653;
$color-background: #e9ded4;
$color-extra: #fbce51;
$color-light: #ffffff;
$color-warning: #f54932;
$color-border: #d0d0d0;
$color-link: #3057a2;
$color-disabled: #d6d6d6;

$header-height: 88px;
$header-mobile-height: 68px;
$media-mobile: 1024px;
